#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    height: 40px;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

#adv {
    float: left;
    width: 320px;
    min-height: 620px;
    padding: 10px;
}